//$green: #B7CE63;
$green: #DADDD8;
$main-color: #edf0eb;
$sub-color: #B7CE63;
$green-2: #9FBF8F;
$green-1: #8cc63f;
$dark-gray: #333;
$mainFont: 'Bebas Neue', Impact, Charcoal, sans-serif;
$subFont: 'Open Sans Regular', Verdana, Geneva, sans-serif;
$width: 100%;