//$green: #B7CE63;
$green:      #DADDD8;
$main-color: #edf0eb;
$sub-color:  #3B97D3;
$green-1:    #8cc63f;
$dark-gray:  #333;
$orange:     #E64C3C;
$blue:       #3B97D3;
$mainFont:   'Bebas Neue', Impact, Charcoal, sans-serif;
$subFont:    'Open Sans Regular', Verdana, Geneva, sans-serif;
$width:      100%;