$green:      #DADDD8;
$main-color: #F2F0F0;
$sub-color:  #1B3E59;
$green-1:    #8cc63f;
$dark-gray:  #333;
$orange:     #FFAC00;
$blue:       #1B3E59;
$white:      #F2F0F0;
$mainFont:   'Bebas Neue', Impact, Charcoal, sans-serif;
$subFont:    'Open Sans Regular', Verdana, Geneva, sans-serif;
$width:      100%;