/*******************
*   Contact Section
*******************/

.contactView {

    top: 0;
    min-height: 100%;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    z-index: 200 !important;
    justify-content: center;
    @include angle(before, true);

    .wrap {

        padding: 30px;
        display: flex;
        justify-content: center;

        h2 {

            font-family: $mainFont;
            padding-top: 50px;
            @include rem(font-size, 64px);

            @media screen and (min-width: 614px){

                margin-bottom: 0;
                @include rem(font-size, 72px);

            }

        }

    }

    .hold {

        display: flex;
        width: 100%;
        margin: 0 auto;

        .myForm {

            display: flex;
            margin: auto;
            width: 70%;
            max-width: 800px;

            .form-groups {

                width: 100%;

                .group {

                    position: relative;

                    span {

                        position: absolute;
                        right: 0;
                        top: 18px;

                    }

                    .ng-not-empty {

                        &:before {
                            content: ' ✓';
                            color: lightgreen;
                        }

                    }

                    input {

                        font-family: $subFont;
                        padding: 10px;
                        width: calc(100% - 10px);
                        border: none;
                        margin: 5px auto;
                        @include rem(font-size, 16px);

                    }

                    textarea {

                        width: calc(100% - 10px);
                        padding: 10px;
                        margin: 5px 0;
                        border: none;
                        @include rem(font-size, 16px);

                    }

                    .submit {

                        position: relative;
                        font-family: $mainFont;
                        letter-spacing: 1px;
                        text-align: center;
                        color: $dark-gray;
                        cursor: pointer;
                        width: calc(100% + 10px);
                        padding: 10px;
                        background-color: white;
                        margin: 7px auto;
                        transition: background-color 0.5s ease;
                        border: none;
                        @include rem(font-size, 32px);

                        &:disabled {

                            background: lightgrey !important;
                            cursor: default !important;

                            &:hover {

                                color: $dark-gray;

                            }

                        }


                        &:hover {

                            background: $orange;
                            transition: background-color 0.5s ease;
                            color: white;

                        }


                    }

                }
            }

        }
    }
}

