
.heroView{

    min-height: 100%;
    background: url("../assets/disorted.jpg")  top fixed $main-color;
    background-size: cover;
    @include display(flex);
    @include flex-direction(column);

    @media only screen
    and (orientation : landscape) {

        padding-bottom: 20px;

    }

    span{

        color: $sub-color;

    }

    .overlay {

        position: absolute;
        width: 100%;
        min-height: 120%;
        background-color: rgba(36, 36, 36, 0.4);

    }

    .hold{

        @include display(flex);
        @include align-items(baseline);

        .wrap{

            width: 100%;
            @include flex-direction(row);
            @include justify-content(flex-end);
            margin-right: 30px;

            i{
                color: white;
                font-size: 1.6em;
                margin: 20px 20px 10px;
                cursor: pointer;

                &:hover{

                    color: $sub-color;
                    @include transition(color 0.5s ease);

                }

                &:nth-child(odd){

                    margin-right: 0;

                }

                @media screen and (max-width: 550px) {

                    font-size: 2em;

                }
            }

        }

    }

    .logo{

        z-index: 100;
        width: 5%;
        min-width: 75px;
        max-width: 150px;
        padding-left: 30px;
        box-sizing: border-box;
        margin-top: 20px;

    }

    .wrap {

        margin: auto;
        z-index: 100;
        @include display(flex);
        @include flex-direction(column);


        h1 {

            font-family: $mainFont;
            font-size: 7.5em;
            color: white;
            letter-spacing: 5px;
            text-align: center;
            margin: 0 10px;

            @media screen and (max-width: 550px) {

                font-size: 5.5em;

            }

        }

        p {

            font-family: $mainFont;
            font-size: 1.75em;
            color: white;
            text-align: center;
            letter-spacing: 3px;

            @media screen and (max-width: 550px) {

                font-size: 1.5em;

            }

        }

    }
    .bouncing-arrow{

        position: relative;
        width: 10%;
        height: 70px;
        margin: auto;
        cursor: pointer;

    }

}